<a href="https://colab.research.google.com/github/Himanshu21994/statistics/blob/main/T_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
from scipy import stats

In [ ]:
sample = [172, 174, 168, 169, 171, 173, 175, 170, 169, 172]
sample_mean = np.mean(sample)
sample_std = np.std(sample,ddof = 1)
n= len(sample)
mean_population = 170

In [ ]:
t_stats= (sample_mean-mean_population)/(sample_std/np.sqrt(n))

In [ ]:
t_stats

np.float64(1.7782469350914734)

In [ ]:
P_value=2*(1-stats.t.cdf(abs(t_stats),df = n-1))
P_value

np.float64(0.10907771593031335)

In [ ]:
alpha = 0.05

In [ ]:
if P_value < alpha:
    print("Reject Null Hypothesis")
else:
    print("Accept Null Hypothesis")

Accept Null Hypothesis

In [ ]:
#two_sample_T-test

In [ ]:
group_A = [85, 88, 90, 92, 87, 85, 89, 91, 86, 88]
group_B = [82, 84, 80, 83, 81, 79, 78, 85, 84, 83]

In [ ]:
T_stats , p_value = stats.ttest_ind(group_A, group_B , equal_var= False)
T_stats

np.float64(5.829604009507161)

In [ ]:
p_value

np.float64(1.610475598965881e-05)

In [ ]:
alpha=0.05

In [ ]:
if p_value < alpha:
    print("I will reject the null hypothesis ")
else:
    print("i will accept the null hypothesis" )

I will reject the null hypothesis